#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container {
    text-align: center;
}


#myCarousel {
    background-color: red;
}

/*CSS to the image inside the slider where we gave Id = “myCarousel”
- We have given fixed height of 300 px to all the images of this div.
- And margin-top: 35px;
*/
#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarouse2 {
    background-color: #b5d0d4;
}

#myCarouse2 img {
    height: 300px;
    margin-top: 35px;
}
